* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.page {
  margin: 0;
  width: 100%;
}
.innards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  width: 100%;
}
.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #ddf8fb;
}
.header {
  background: #ddf8fb;
  width: 45rem;
  margin: none;
  height: 3rem;
  display: flex;
  align-items: center;
}
.title {
  font-size: 1.3rem;

}
.grid-container {
  width: 100%;
  // height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
}

.grid {
  background: #000;
  display: flex;
  flex-wrap: wrap;
  width: 45rem;
  justify-content: center;
}
.grid-card {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  margin: 1rem 1.5rem 1rem 0;
  width: calc(100% / 4);
  flex-grow: 1;
}
.img-frame {
 width: 50%;
 padding: .5rem;
}
img {
  border: none;
  width: 100%;
}

.grid-card__content {
  display: flex;
  width: 100%;
}
.text {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.name {
  margin: 0;
  padding: 1rem 0 .5rem 0;
}
.est {
  font-size: .8rem;
  margin: 0;
}
